div{
    margin: 10px;
}

button{
    margin: 0 10px;
    width: 40%; height: 5vh;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

button:first-child{
    background-color: #9b4d48;

}

button:last-child{
    background-color: #2e2d39;
    color: #cdc3c4;

}